// Custom styles for Unifiedtransform

// Bootstrap Icons
@import url("../../public/css/bootstrap-icons-1.7.1/font/bootstrap-icons.css");

// Custom Font
@font-face {
  font-family: 'Ubuntu';
  src: URL('../../public/css/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
}

body {
  background-color: #f8f9fa;
  font-family: 'Ubuntu', sans-serif;
}

// Watermark
#watermark {
  color: #efefef;
  font-size: 50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  position: absolute;
  margin: 0;
  z-index: -1;
  left: 0;
  top: 200px;
}

// Navigation
.nav-item > .nav.collapse {
  border: 1px solid #1693e3;
}

.bg-dark {
  background-image: linear-gradient(-45deg, #1054a9, #179ceb);
}

.nav-link {
  color: #212529;
}

.nav-link.active {
  color: #fff !important;
  border-top: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  background-image: linear-gradient(-45deg, #1054a9, #179ceb);
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.navbar-pad {
  padding-top: 0;
  padding-bottom: 0;
}

.pos-fix-bt0-z10 {
  position: fixed;
  bottom: 0;
  z-index: 10;
}

// Custom borders
.border-top-e6 {
  border-top: 1px solid #d9d9d9;
}

.border-btm-e6 {
  border-bottom: 1px solid #d9d9d9;
}

.border-rt-e6 {
  border-right: 1px solid #d9d9d9;
}

.loading-bg-color {
  background-color: #f8f9fa;
}

.dropdown-toggle.caret-off::after {
  display: none;
}

// Timeline styles (from mdbootstrap.com)
.timeline-1 {
  border-left: 3px solid #b565a7;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(177, 99, 163, 0.09);
  margin: 0 auto;
  position: relative;
  padding: 50px;
  list-style: none;
  text-align: left;
  max-width: 40%;

  @media (max-width: 767px) {
    max-width: 98%;
    padding: 25px;
  }

  .event {
    border-bottom: 1px dashed #000;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;

    @media (max-width: 767px) {
      padding-top: 30px;
    }

    &:last-of-type {
      padding-bottom: 0;
      margin-bottom: 0;
      border: none;
    }

    &:before,
    &:after {
      position: absolute;
      display: block;
      top: 0;
    }

    &:before {
      left: -207px;
      content: attr(data-date);
      text-align: right;
      font-weight: 100;
      font-size: 0.9em;
      min-width: 120px;

      @media (max-width: 767px) {
        left: 0px;
        text-align: left;
      }
    }

    &:after {
      -webkit-box-shadow: 0 0 0 3px #b565a7;
      box-shadow: 0 0 0 3px #b565a7;
      left: -55.8px;
      background: #fff;
      border-radius: 50%;
      height: 9px;
      width: 9px;
      content: "";
      top: 5px;

      @media (max-width: 767px) {
        left: -31.8px;
      }
    }
  }
}

// Loading spinner (from laracasts.com)
.loading {
  z-index: 20;
  position: absolute;
  top: 0;
  left: -5px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.loading-content {
  position: absolute;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  top: 40%;
  left: 35%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// Table styles
.table th,
.table td {
  white-space: nowrap;
}

figure.table th,
figure.table td {
  width: 100%;
}
